{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}
  {% include 'hospital/doctor_dashboard_cards.html' %}
  <br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="panel panel-primary center-block" style="max-width: 90%;">
        <div class="panel-heading text-center">
          <h6 class="panel-title">Citas recientes para ti</h6>
        </div>
        <table class="table table-hover" id="dev-table">
          <thead>
            <tr>
              <th>Nombre del paciente</th>
              <th>Foto</th>
              <th>Descripcion</th>
              <th>Celular</th>
              <th>Direccion</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            {% for a, p in appointments %}
              <tr>
                <td>{{ a.patientName }}</td>
                <td><img src="{{ p.profile_pic.url }}" alt="Profile Pic" height="40" width="40" /></td>
                <td>{{ a.description }}</td>
                <td>{{ p.mobile }}</td>
                <td>{{ p.address }}</td>
                <td>{{ a.appointmentDate|date:"d/m/Y H:i" }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="6" class="text-center">No hay citas recientes.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
