{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}

<style>
  a:link {
    text-decoration: none;
  }
  h6 {
    text-align: center;
  }
  .row {
    margin-top: 50px; /* menos margen y solo arriba */
  }
</style>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Eliminar tus citas</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Nombre del paciente</th>
          <th>Foto</th>
          <th>Descripcion</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for a, p in appointments %}
          <tr>
            <td>{{ a.patientName }}</td>
            <td><img src="{{ p.profile_pic.url }}" alt="Profile Pic" height="40" width="40" /></td>
            <td>{{ a.description }}</td>
            <td>
              <a class="btn btn-danger btn-xs" href="{% url 'delete-appointment' a.id %}">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4" class="text-center">No tienes citas para eliminar.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
